<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Customer</title>
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
     rel="stylesheet">
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <span class="navbar-brand mb-0 h1">
                Bank Management System
            </span>
            <a href="/dashboard" class="btn btn-light">Dashboard</a>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Add New Customer</h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="/add_customer" method="POST">
                            <div class="mb-3">
                                <label class="form-label">Account Number</label>
                                <input type="text"name="account_no"class="form-control"
                                placeholder="Enter Account Number"pattern="[0-9]{1,12}"
                                maxlength="12"minlength="1"title="Account number must be 1 to 12 digits"
                                   required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Customer Name</label>
                                <input type="text" name="name" class="form-control"
                                 pattern="[A-Za-z ]{3,30}" title="Only letters allowed"required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Phone Number</label>
                                <input type="tel" name="phone" class="form-control"pattern="[6-9][0-9]{9}"
                                    maxlength="10" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-control">Address</label>
                                <textarea class="form-control" name="address" 
                                placeholder="Enter customer address" required></textarea>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Initial Balance</label>
                                <input type="number"name="balance"class="form-control"
                                 placeholder="Enter Initial Balance"min="0"
                                 max="50000"required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Customer Username</label>
                                <input type="text" class="form-control" name="username"
                                 placeholder="Enter customer username" required>
                            </div>
                            <div class="d-flex gap-2">
                                <button type="submit" class="btn btn-primary w-100">Add Customer</button>
                                <a href="/" class="btn btn-secondary w-100">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
        </script>
    </script>
</body>
</html>