<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup successfull - NOVA BANK</title>
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-sm text-center mx-auto" style="max-width: 400px;">
            <div class="card-body p-4">
                <div class="text-success fs-1"></div>
                <h3 class="text-success">Signup successfull</h3>
                <p class="text-muted">Your account has been Created successfully.</p>
                <a href="/login" class="btn btn-success">Go to ogin</a>
            </div>
        </div>
    </div>
</body>
</html>